{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="row">
    <div class="col-sm-6">
        <div class="container">
            <div class="jumbotron">
                Name:{{ stu.student_name }}<br>
                USN:{{ stu.USN }}<br>
                Branch{{ stu.Branch }}<br>
                Phone no:{{ stu.student_mbl_no }}<br>
                Adress:{{ stu.adress }}<br>
                DOB:{{ stu.dob }}<br>
                Gender:{{ stu.gender }}<br>
                Room no:{{ stu.room.no }}<br>
                Father Name:{{ stu.father_name }}<br>
                Father Number:{{ stu.father_mbl_no }}<br>
                <br>
                <button class="btn btn-danger">Update profile</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}